<!DOCTYPE html>
<html lang="fr">
    <head>  
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/css/style.css"  type="text/css"> 
    </head>
    
    <body>


        <header class="header">
            <span class="logo">ASSISTANT</span>
            <span class="connection">Connection</span>

        </header>

        <main class="main">

            <div class="menu-container"> 
                <ul class="menu-liste">
                    <a href="" class="menu-link"><li class="menu-item">Menu Teste</li></a>
                    <a href="" class="menu-link"><li class="menu-item">Menu Teste</li></a>
                    <a href="" class="menu-link"><li class="menu-item">Menu Teste</li></a>
                    <a href="" class="menu-link"><li class="menu-item">Menu Teste</li></a>
                </ul>
            </div>
            <div class="interaction">

                <div class="assistant">
                    <span class="span color-a">Anya</span>
                    <div class="text-container assistant-cible">
                        
                    </div>
                </div>

                <div class="user-submit">
                    <span class="span color-b">User<span class="reset">X</span></span>
                    <div class="text-container usercible">
                       
                    </div>
                </div>
                                       
                <form action="" class="form">
                    <input id ="reset" type="text" class="saisie-text" placeholder="Saisissez votre texte...">
                    <button  class="submit">Envoyer</button>
                </form>
                    
                    
            </div>

                 <canvas id="renderCanvas"></canvas>
             

        </main>

        <footer class="footer"> 

            &copy copyright 2022 - Vandal - william - Tout droit reserver - v1.0.0

        </footer>

        <!-- Babylon.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://assets.babylonjs.com/generated/Assets.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
       

        <script src="static/js/menu.js"></script>
        <script src="static/js/assistant.js"></script>
        <script src="static/js/vocal.js"></script>
    </body>
    
</html>
